body {
  margin: 0;
  padding: 0;
  background: url(https://img.wattpad.com/a400c6343b908e77921c552f453c8d874c0a579a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f377a5370465732565a76345345773d3d2d3838323839393437302e313630666338636338623266626332333430333431323631303434342e676966)
    no-repeat;
  background-size: cover;
}
.box {
  width: 450px;
  background: rgba(28, 26, 26, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  color: rgb(251, 251, 251);
  font-family: "Century Gothic", sans-serif;
}
.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1 {
  font-size: 45px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h2 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p {
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
.box li {
  display: inline-block;
  margin: 10px;
  list-style: none;
}
.box li a {
  color: rgb(252, 252, 252);
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover {
  color: #0b0a0a;
}
